html,
body {
    height: 100%;
}

body {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    background: #1A1B26;
    color: #C0CAF5;
}

.nmdra-box {
    display: table-cell;
    vertical-align: middle;
}

.nmdra-box h1 {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 80px;
    margin-bottom: 15px;
}


.nmdra-box h2 {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.nmdra-box h2:hover {
    color: #F7768E;
    font-style: italic;
    /* animation: flash; */
    /* animation-duration: 0.5s; */
    animation: blinker 0.4s step-start infinite;
}

a {
    font-kerning: normal;
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 25px;
    color: #73c936;
    text-decoration: none;
}

.nmdra-links {
    margin-right: 25px;
    margin-bottom: 30px;
}

.nmdra-icon-link {
    width: 40px;
    margin-right: 10px;
}

.nmdra-icon-link:hover {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 50px;
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}