/* TOKYONIGHT THEME COLOURS */
/*
background: #1a1b26,
"black": "#15161e", 
"blue": "#7aa2f7", 
"brightBlack": "#414868", 
"brightBlue": "#7aa2f7", 
"brightCyan": "#7dcfff", 
"brightGreen": "#9ece6a", 
"brightPurple": "#9d7cd8", 
"brightRed": "#f7768e", 
"brightWhite": "#c0caf5", 
"brightYellow": "#e0af68", 
"cursorColor": "#c0caf5", 
"cyan": "#7dcfff", 
"foreground": "#c0caf5", 
"green": "#9ece6a", 
"name": "Tokyo Night", 
"purple": "#bb9af7", 
"red": "#f7768e", 
"selectionBackground": "#283457", 
"white": "#a9b1d6", 
 yellow: #e0af68 
 */

/* Change Dark Theme Colours */
.dark {
    --entry: #1a1b26;
    --theme: #16161e;
    --primary: #c0caf5;
    --secondary: #a9b1d6;
    --tertiary: #545c7e;
    --content: #a9b1d6;
    --hljs-bg: #292e42;
    --code-bg: #292e42;
    --border: #9d7cd8;
}

/* Change color on hover */
a:hover {
    color: #7aa2f7;
}

a.anchor:hover {
    color: #7dcfff !important;
}

svg:hover {
    color: #7dcfff;
}
